html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

@font-face {
    font-family: "JP";
    src: local("JP-Font"), url(Fonts/jpFont.ttf) format("truetype");
}

/* Custom Properties */
:root {
    /* Font Size Properties */
    --font-master: 1.0rem;
    --font-scaling: 1.2;
    --header-weight: bold;
    --h1: calc(var(--h2) * var(--font-scaling));
    --h2: calc(var(--h3) * var(--font-scaling));
    --h3: calc(var(--h4) * var(--font-scaling));
    --h4: calc(var(--h5) * var(--font-scaling));
    --h5: calc(var(--font-master) * var(--font-scaling));

    /* Color Properties */
    --dark-pink: #C57C78;
    --dark-green: #495048;
    --light-pink: #DBBEB8;
    --medium-green: #727D6D;
    --background-white: #fff;

    /* Font Properties */
    --header-var: 'Poiret One';
    --body-var: 'Lato';
    --header-font: var(--header-var), cursive;
    --body-font: var(--body-var), sans-serif;

    /* Background Properties */
    --zion-url: url(images/zion-5.jpeg);
    --dino-url: url(images/jp-1.webp);
    --background-image: var(--zion-url);

    /* Header SVG Properties */
    --rose-svg-url: url(SVGs/bullet-rose.svg);
    --dino-svg-url: url(SVGs/bullet-egg.svg);
    --li-symbol: var(--rose-svg-url);

}

/* Global Properties */
.background {
    padding: 0;
    margin: 0;
    background-color: var(--dark-green);
}

h1 {
    font-size: var(--h1);
    font-family: var(--header-font);
    font-weight: normal;
    text-align: center;
    background-color: var(--medium-green);
    color: var(--background-white);
    max-width: 800px;
    margin: 0 auto;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

h2 {
    font-size: var(--h2);
    font-family: var(--header-font);
    padding: 0;
    margin: 0;
}

h3 {
    font-size: var(--h3);
    font-weight: normal;
    font-family: var(--header-font);
}

h4 {
    font-size: var(--h4);
    font-weight: normal;
    font-family: var(--body-font);
}

h5 {
    font-size: var(--h5);
    font-weight: normal;
    font-family: var(--body-font);
}

p {
    color: var(--dark-green);
    font-family: var(--body-font);
    font-size: var(--font-master);
    line-height: 1.5;
}

label {
    color: var(--dark-green);
    font-family: var(--body-font);
    font-size: var(--font-master);
    line-height: 1.5;
}

.location li,
.home li,
.info li,
dt, dd{
    text-decoration: none;
    list-style-type: none;
    color: var(--dark-green);
    font-family: var(--body-font);
    font-size: var(--font-master);
    padding-left: 2em;
    text-indent: -2em;
}

.info li::before, .location li::before {
    display: inline-flex;
    content: '';
    background-image: var(--li-symbol);
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
}

/* General Content Pages */

fieldset {
    border: none;
    border-top: 2px solid var(--medium-green);
    color: var(--medium-green);
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

fieldset legend h2 {
    font-weight: var(--header-weight);
}

section {
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
}

article {
    min-height: 600px;
    background-color: var(--background-white);
    max-width: 800px;
    margin: 0 auto;
}

section {
    background-color: var(--background-white);
}

.symbol {
    fill: var(--medium-green);
    width: 200px;
    padding: 1rem;
    height: auto;
}

.symbol g {
    fill: var(--medium-green);
}

.text-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.text-box p, p {
    margin: 0;
    padding: 1rem;
    text-align: center;
}

button {
    color: var(--background-white);
    font-family: var(--body-font);
    background-color: var(--medium-green);
    border-style: solid;
}

a {
    color: var(--dark-green);
    font-weight: bold;
}

a:hover {
    color: var(--dark-pink);
}

dl {
    color: var(--dark-green);
    font-family: var(--body-font);
    padding: 1em;
}

button:disabled {
    background-color: lightgray;
}

.formatted-list dt {
    text-decoration: underline;
    font-size: var(--h5);
    text-align: center;
    margin-top: 1em;
}

.formatted-list dd {
    text-align: center;
    margin: 0;
}

.formatted-list dl {
    padding: 0;
}

input {
    font-size: 16px;
    width: 80%;
}

textarea {
    font-size: 16px;
    width: 90%;
    height: 70px;
}

/* Location */

.location .not-indented {
    text-align: left;
}

/* RSVP */

.RSVP input {
    color: var(--dark-green);
    font-family: var(--body-font);
}

.RSVP select {
    color: var(--dark-green);
    font-family: var(--body-font);
}

.RSVP textarea {
    color: var(--dark-green);
    font-family: var(--body-font);
}

.RSVP form {
    text-align: center;
    padding-bottom: 5px;
}

.rsvped-message p {
    text-align: center;
}

/* Enigma */

.TheBaron input {
    color: var(--dark-green);
    font-family: var(--body-font);
    margin-top: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
    margin-left: 10%;
    margin-right: 10%;
}

.TheBaron form {
    text-align: center;
    padding-bottom: 5px;

}

.TheBaron ul {
    list-style-type: none;
    padding: 0;
}

.TheBaron button {
    margin-top: 1em;
}

.TheBaron .submission-header p {
    margin: 0;
    padding: 0;
}

.TheBaron li {
    margin-bottom: 1.5em;
}

.TheBaron .solved-header h2 {
    padding-bottom: 0.5em;
    text-align: center;
    color: var(--dark-green);
    margin-top: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
}

/* View Puzzles */

.view-puzzles h2 {
}

.view-puzzles ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.view-puzzles form {
    text-align: center;
    padding-bottom: 5px;

}

.view-puzzles h2 {
    padding-bottom: 0.5em;
    text-align: center;
    color: var(--dark-green);
    margin-top: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
}

.view-puzzles button {
    margin-top: 1em;
    text-align: center;
}

.view-puzzles li {
    margin: 0;
    padding: 0;
}

.view-puzzles section {
    border-top: solid;
    border-width: 1px;
}

.view-puzzles p {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

.view-puzzles p.unsolved-puzzle {
    padding: 1em;
    color: #C57C78;
    text-decoration: underline;
    font-size: var(--h5);
}

.view-puzzles p.solved-puzzle {
    padding: 1em;
    color: #495048;
    font-size: var(--h5);
}

/* View Submissions */

.view-submissions h2 {
    color: var(--dark-green);
    margin-top: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
    text-align: center;
}

.view-submissions ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.view-submissions form {
    text-align: center;
    padding-bottom: 5px;

}

.view-submissions h2 {
    padding-bottom: 0.5em;

}

.view-submissions .incorrect-answer {
    color: #C57C78;
}

.view-submissions .correct-answer {
    font-style: italic;
}

.view-submissions li {
    margin: 0;
    padding: 0;
}

.view-submissions section {
    border-top: solid;
    border-width: 1px;
}

.view-submissions p {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

/* Add Puzzle */

.add-puzzle input {
    color: var(--dark-green);
    font-family: var(--body-font);
    margin-top: 0.5em;
}

.add-puzzle form {
    text-align: center;
    padding-bottom: 5px;

}

.add-puzzle button {
    margin-top: 1em;
    margin-bottom: 3em;
}

/* Info */

.info button {
    color: var(--dark-green);
    background-color: var(--background-white);
    border: none;
    font-size: var(--h5);
    padding: 1em;
    text-align: left;
}

.info .szh-accordion > div:not(:first-child) {
    border-top: 1px solid var(--dark-green);
}

.info .szh-accordion__item-content {
    padding-left: 3em;
}

/* Login */

.login {
    text-align: center;
    color: var(--dark-green);
}

.login h2 {
    font-size: var(--h5);
    font-family: var(--body-font);
    font-weight: normal;
    color: var(--dark-green);
    margin-top: 20px;
}

.login span {
    font-style: italic;
}

.login label {
    color: var(--dark-green);
}

.login fieldset {
    border: none;
    height: 120px;
}

.login label p {
    padding: 0.5em;
}

.login .radio{
    width: 12%;
}

.login ul {
    list-style: none;
    text-align: left;
    padding-left: 37%;
}

/* Admin */

.guest p {
    padding: 0;
}

.admin li {
    margin: 1em 1em 0 1em;
    padding: 1em;
    list-style-type: none;
    text-align: center;
    border: solid var(--dark-green);
}

.guest span{
    font-weight: bold;
}

.admin ul {
    padding: 0;
    margin: 0;
}

.admin h2 {
    font-size: var(--h4);
    font-family: var(--body-font);
    font-weight: normal;
}

.form-boxes {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 5%;
}

.form-boxes label p {
    text-align: center;
    padding: 0;
    margin: 0;
}

.form-boxes label:first-child,
.form-boxes label:last-child {
    flex-basis: 100%;
}

.admin form {
    text-align: center;
}

.add-header {
    height: 80px;
}

/* Nav bar */

.row {
    display: flex;
    flex-flow: row nowrap;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
}

header {
    border: none;
    margin: 0 auto;
    padding: 0;
    background-color: var(--dark-green);
    max-width: 800px;
}

.header-pic {
    object-fit: cover;
    width: 100%;
    height: 180px;
}

.main-menu {
    border-top: 4px solid var(--light-pink);
    border-bottom: 1px solid var(--light-pink);
    padding: 0.3rem 0;
    font-family: var(--header-font);
}

.main-menu ul {
    padding: 0;
    margin: 0 auto;
    height: auto;
    width: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 4%;
    list-style-type: none;
    text-align: center;
}

.main-menu li a{
    text-decoration: none;
    color: var(--light-pink);
    font-size: var(--h4);
    display: block;
    font-weight: var(--header-weight);
}

nav a:hover, a:focus,
nav .nav-symbol:focus, nav .nav-symbol:hover {
    color: var(--dark-pink);
    fill: var(--dark-pink);
}

nav button {
    padding: 0;
    margin: 0 auto;
    background-color: var(--dark-green);
    display: block;
    border: none;
}

.nav-symbol {
    fill: var(--light-pink);
    height: 24px;
    background-color: var(--dark-green);
    padding: 0;
    width: auto;
    margin: 0;
}

nav li {
    margin-top: 3px;
}

    /* Footer */
.custom-footer {
    padding: 2rem;
    margin: 0 auto;
    text-align: center;
    max-width: 800px;
    color: var(--light-pink);
    background-color: var(--dark-green);
}

.custom-footer h3 {
    padding: 0;
    margin: 0;
    font-weight: var(--header-weight);
}

.custom-footer h4 {
    padding: 0;
    margin: 0;
    font-weight: var(--header-weight);
}

.custom-footer h5 {
    padding: 0;
    margin: 0;
    font-weight: var(--header-weight);
}

.custom-footer ul {
    padding: 0;
    margin: 1rem;
    list-style-type: none;
}

.custom-footer li {
    margin: 0 0 1rem;
    padding: 0;
}

.custom-footer a {
    text-decoration: none;
    color: var(--light-pink);
    font-weight: var(--header-weight);
}

.custom-footer a:hover {
    color: var(--dark-pink);
}

.custom-footer p {
    padding: 0;
}

.foot-symbol {
    fill: var(--light-pink);
    width: 80px;
    padding: 0;
    height: auto;
    margin: 0;
}

/* Tablet view */
@media (min-width: 600px) {

    /* Content Pages */
    .text-box .symbol {
        flex-basis: 20%;
    }

    .text-box div {
        flex-basis: 70%;
    }

    section:nth-child(odd) .symbol {
        order: 2;
    }

    input {
        width: 40%;
    }

    textarea {
        width: 50%;
    }

    .TheBaron label {

    }

    .TheBaron input {
        margin-left: 30%;
        margin-right: 30%;
    }

    .TheBaron fieldset {

    }
}

/* Desktop view */
@media (min-width: 800px) {
    /* Background */
    .background {
        background-image: var(--background-image);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    }

    /* Footer */
    .custom-footer ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 5%
    }

    .custom-footer li:nth-child(2) {
        order: -2;
    }
}
