html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* Custom Properties */
:root {
    --font-master: 1.2rem;
    --font-scaling: 1.2;
    --h1: calc(var(--h2) * var(--font-scaling));
    --h2: calc(var(--h3) * var(--font-scaling));
    --h3: calc(var(--h4) * var(--font-scaling));
    --h4: calc(var(--h5) * var(--font-scaling));
    --h5: calc(var(--font-master) * var(--font-scaling));

    --hover-color: #C57C78;
    --nav-and-foot: #495048;
    --nav-and-foot-text: #DBBEB8;
    --body-details: #727D6D;
    --body-header: #727D6D;
    --body-header-text: #fff;
    --body-background: #fff;
    --text: #495048;

    --header-font:'Poiret One', cursive;
    --body-font:'Lato', sans-serif;

    --background-left: url(images/zion-background.jpeg);
    --background-right: url(images/zion-background.jpeg);

}

/* Global Properties */
.background {
    padding: 0;
    margin: 0;
    background-color: #394008;
}

h1 {
    font-size: var(--h1);
    font-family: var(--header-font);
    font-weight: normal;
    text-align: center;
    background-color: var(--body-header);
    color: var(--body-header-text);
    max-width: 800px;
    margin: 0 auto;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
}

h2 {
    font-size: var(--h2);
    font-family: var(--header-font);
    padding: 0;
    margin: 0;
}

h3 {
    font-size: var(--h3);
    font-weight: normal;
    font-family: var(--header-font);
}

h4 {
    font-size: var(--h4);
    font-weight: normal;
}

h5 {
    font-size: var(--h5);
    font-weight: normal;
}

p {
    color: var(--text);
    font-family: var(--body-font);
    line-height: 1.5;
}

.location li,
.home li,
.info li {
    text-decoration: none;
    list-style-type: "🌷 ";
    color: var(--text);
    font-family: var(--body-font);
}

/* General Content Pages */

fieldset {
    border: none;
    border-top: 2px solid var(--body-details);
    color: var(--body-details);
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

section {
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
}

article {
    min-height: 600px;
    background-color: var(--body-background);
    max-width: 800px;
    margin: 0 auto;
}

section:nth-child(even){
    background-color: var(--body-background);
}

section:nth-child(odd){
    background-color: var(--body-background);
}

.symbol {
    fill: var(--body-details);
    width: 200px;
    padding: 1rem;
}

.text-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.text-box p, p {
    margin: 0;
    padding: 1rem;
}

button {
    color: var(--body-background);
    font-family: var(--body-font);
    background-color: var(--body-header);
    border-style: solid;
}

a {
    color: var(--nav-and-foot);
    font-weight: bold;
}

a:hover {
    color: var(--hover-color);
}

dl {
    color: var(--text);
    font-family: var(--body-font);
}

/* RSVP */

.RSVP input {
    color: var(--text);
    font-family: var(--body-font);
}

.RSVP select {
    color: var(--text);
    font-family: var(--body-font);
}

.RSVP textarea {
    color: var(--text);
    font-family: var(--body-font);
}

.RSVP form {
    text-align: center;
}

.rsvped-message p {
    text-align: center;
}

/* Login */

.login {
    text-align: center;
    color: var(--text);
}

.login h2 {
    font-size: var(--h5);
    font-family: var(--body-font);
    font-weight: normal;
    color: var(--text);
}

.login span {
    font-style: italic;
}

.login label {
    color: var(--text);
}

.login fieldset {
    border: none;
    height: 120px;
}

.login label p {
    padding: 0.5em;
}

/* Admin */

.guest p {
    padding: 0;
}

.admin li {
    margin: 1em 1em 0 1em;
    padding: 1em;
    list-style-type: none;
    text-align: center;
    border: solid var(--nav-and-foot);
}

.guest {

}

.admin ul {
    padding: 0;
    margin: 0;
}

.admin h2 {
    font-size: var(--h4);
    font-family: var(--body-font);
    font-weight: normal;
}

/* Nav bar */

.row {
    display: flex;
    flex-flow: row nowrap;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
}

header {
    border: none;
    margin: 0 auto;
    padding: 0;
    background-color: var(--nav-and-foot);
    max-width: 800px;
}

.header-pic {
    object-fit: cover;
    width: 100%;
    height: 180px;
}

.main-menu {
    border-top: 4px solid var(--nav-and-foot-text);
    border-bottom: 1px solid var(--nav-and-foot-text);
    padding: 0.3rem 0;
    font-family: var(--header-font);
    font-weight: bold;
}

.main-menu ul {
    padding: 0;
    margin: 0 auto;
    height: auto;
    width: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 4%;
    list-style-type: none;
}

.main-menu li a{
    text-decoration: none;
    color: var(--nav-and-foot-text);
    font-size: var(--h4);
    display: block;
}

nav li a:not(:last-child)::after {
    content: " || ";
}

nav a:hover, a:focus {
    color: #C57C78;
}


/* Footer */
.custom-footer {
    padding: 2rem;
    margin: 0 auto;
    text-align: center;
    max-width: 800px;
    color: var(--nav-and-foot-text);
    background-color: var(--nav-and-foot);
}

.custom-footer h3 {
    padding: 0;
    margin: 0;
    font-weight: normal;
}

.custom-footer h4 {
    padding: 0;
    margin: 0;
    font-weight: normal;
}

.custom-footer h5 {
    padding: 0;
    margin: 0;
}

.custom-footer ul {
    padding: 0;
    margin: 1rem;
    list-style-type: none;
}

.custom-footer li {
    margin: 0 0 1rem;
    padding: 0;
}

.custom-footer a {
    text-decoration: none;
    color: var(--nav-and-foot-text);
}

.custom-footer a:hover {
    color: var(--hover-color);
}

/* Tablet view */
@media (min-width: 600px) {

    /* Content Pages */
    .text-box .symbol {
        flex-basis: 20%;
    }

    .text-box div {
        flex-basis: 70%;
    }

    .info section:nth-child(even) .symbol {
        order: 2;
    }


    /* Footer */
    .custom-footer ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 10%
    }

}

/* Desktop view */
@media (min-width: 800px) {
    /* Background */
    .background {
        background-image: var(--background-left), var(--background-right);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: left, right;
    }
}
